# Testing
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
factory-boy==3.3.0
freezegun==1.4.0

# Linting & Code Quality
black==23.12.1
flake8==6.1.0
isort==5.13.2
pylint==3.0.3

# Type checking
mypy==1.7.1
django-stubs==4.2.7
djangorestframework-stubs==3.14.5

# Security scanning
bandit==1.7.5
safety==2.3.5

# Development utilities
ipython==8.18.1
django-extensions==3.2.3

